/* General look of the webpage */
html, body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scroll-snap-type: y mandatory;
    background-color: bisque;
}

/* Specifies the look of the navigation bar */
.navbar ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 10px;
    overflow: visible;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
.navbar a{
    background: #e7d2a6;
    color:hsl(28, 48%, 38%);
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li{
    list-style: none;
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
.animate{
    opacity: 0;
    animation: fadeIn 5s ease-in-out;
    transform: translateY(60px);
    transition: transform 1s ease-in-out;
}
.animate.show{
    transform: translateY(0);
    opacity: 1;
}
.images{
    height: 100vh;
    background-image: url('./assets/mama.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: difference;
}
.image-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}
#image-container img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.animate{
    animation: fadeIn 2s ease-in-out;
    transform: translateY(60px);
    transition: transform 0.5s ease-in-out;
}
.animate.show{
    transform: translateY(0);
    opacity: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin-top: 200px;
    background-color: rgba(255, 252, 252, 0.233);
    opacity: 0;
    animation: overlayfadeIn 1.6s ease-out 0.4s forwards;
}
@keyframes overlayfadeIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Specifies the look of the footer */
.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}
.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}