html, body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('./assets/Avoya.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:difference;
    background-position:inherit;
}

.navbar ul{
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}
.navbar a{
    color:hsl(28, 48%, 39%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li{
    float: left;
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}
.card1{
    display: flex;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    overflow: hidden;
    margin:5px;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin-top: 35%;
    text-decoration: none;
}
a.card1:link{
    text-decoration: none;
    color: black;
}
a.card1:visited{
    text-decoration: none;
    color: black;
}
a.card1:active{
    text-decoration: none;
    color: black;
}
a.card1:hover{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}
.card1 img {
  width: 300px;
  height: 200px;
  margin-right: 20px;
  border-radius: 8px;
}
.card1:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
  color:hsl(28, 48%, 39%);
}
.cardcontent h3{
    margin-top: 0;
    color: hsl(28, 48%, 39%);
}
.cardcontent{
    flex-direction: column;
}
.card2{
    display: flex;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    overflow: hidden;
    margin:5px;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin-top: 0%;
    text-decoration: none;
}
a.card2:link{
    text-decoration: none;
    color: black;
}
a.card2:visited{
    text-decoration: none;
    color: black;
}
a.card2:active{
    text-decoration: none;
    color: black;
}
a.card2:hover{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}
.card2 img {
  width: 300px;
  height: 200px;
  margin-right: 20px;
  border-radius: 8px;
}
.card2:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
  color:hsl(28, 48%, 39%);
}

.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}
.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}
