/* General look of the webpage */
html, body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scroll-snap-type: y mandatory;
    background-color: bisque;
    text-decoration: none;
}

/* Specifies the look of the navigation bar */
.navbar ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 10px;
    overflow: visible;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
.navbar a{
    background: #e7d2a6;
    color:hsl(28, 48%, 38%);
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li{
    list-style: none;
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
.animate{
    opacity: 0;
    animation: fadeIn 5s ease-in-out;
    transform: translateY(60px);
    transition: transform 1s ease-in-out;
}
.animate.show{
    transform: translateY(0);
    opacity: 1;
}
.images{
    height: 100vh;
    background-image: url('./assets/mama.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: difference;
}
.image-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}
#image-container img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#boogsh{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background:transparent;
    z-index: 2;
}
.animate{
    animation: fadeIn 2s ease-in-out;
    transform: translateY(60px);
    transition: transform 0.5s ease-in-out;
}
.animate.show{
    transform: translateY(0);
    opacity: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin-top: 200px;
    background-color: rgba(255, 252, 252, 0.233);
    opacity: 0;
    animation: overlayfadeIn 1.6s ease-out 0.4s forwards;
}
@keyframes overlayfadeIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.brilyante{
    min-height: 100vh;
    width: 100%;
    background-image: url('./assets/lireyow.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.brilyante-container{
    perspective: 1000px;
    display: flex;   
}
.animate1{
    width: 150px;
    animation: spinY 6s linear infinite;
    transform-style: preserve-3d;
}
@keyframes spinY {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
    
}
.card{
    position: relative;
    width:auto;
    height:auto;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.5s ease;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease, filter 0.5s ease;
}
.card-informationz{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    transform: rotateY(15deg) translateY(20px);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
.card-informationz h3{
    font-size: 24px;
    margin: 0;
    color: #dcc179;
}
.card-informationz p{
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0 0;
    color: #ffffff;
    text-align: center;
}
.card:hover img{
    transform: scale(1.1) rotateY(-10deg);
    filter: brightness(80%);
}
.card:hover .card-informationz{
    opacity: 1;
    transform: rotateY(0deg) translateY(0);
}
.navi-intro{
    flex-basis: 100%;
    width: 100%;
}

.navi{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px 10px 10px 10px;
    margin-top: 60px;
    text-align: center;
}
.navi h2{
    font-size: 28px;
    color: hsl(28, 48%, 39%);
}
.navi p{
    font-size: 18px;
    color: hsl(0, 0%, 0%);
    text-decoration:none;
}
.button a{
    display: inline-block;
    padding: auto;
    background-color: hsl(28, 48%, 39%);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.button a:hover{
    background-color: hsl(28, 48%, 39%);
    transform: scale(1.1);
}
.navi-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.navi-container .button{
    display: block;
    justify-content: center;
    align-items: center;

}
.cardd{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    text-align: left;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}
.cardd:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.cardd h3{
    font-size: 24px;
    margin: 0 0 10px 0;
    color: hsl(28, 48%, 39%);
   
}
.cardd img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cardd p{
    font-size: 16px;
    line-height: 1.5;
    color: hsl(0, 0%, 0%);
}

/* Specifies the look of the footer */
.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}
.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}
/* Etheria */
body.etheria{
  font-family: "Cinzel", sans-serif;
}

/* Realm of Celestial Beings */
body.realm-of-celestial-beings{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/RealmOfCelestialBeings.png');
  background-size: cover;
  font-family: "Bitter";
}

/* Devas */
body.devas{
  height: 100%;
  font-family: "Palatino Linotype", serif;
  margin: 0px;
  padding: 0px;
  background-image: url('./assets/Devas.png');
  background-size: cover;
}
body.devas h1,
body.devas h2,
body.devas h3{
  color: #8498d4f4;
}
body.devas .navbar ul{
  background-color: #d5b65b56;
}
body.devas .navbar a{
  background: #ffffffbc;
  color: #8498d4f4;
}
body.devas .navbar a:hover{
  background-color: #d7dffab6;
}
/* Balaak */
body.balaak{
  height: 100%;
  font-family: "Instrument Serif", serif;
  margin: 0px;
  padding: 0px;
  background-image: url('./assets/Balaak.png');
  background-size: cover;
}
body.balaak h1,
body.balaak h2,
body.balaak h3{
  color: #4b0a0af4;
}
body.balaak .navbar ul{
  background-color: rgba(49, 7, 7, 0.7);
}
body.balaak .navbar a{
  background: #070101bc;
  color: #720e0ef4;
}
body.balaak .navbar a:hover{
  background-color: #270707b6;
}