/* General style of the webpage */
html,body{
    min-height:100%;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../assets/background3.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:difference;
    background-attachment: fixed;
}
main{
    width:100%;
    padding: 50px 20px;
}
/*Styles the navigation bar*/
.navbar ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}
.navbar a{
    background: #e7d2a6;
    color:hsl(28, 48%, 38%);
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
.themes-btn{
  background: #e7d2a6;
  color: hsl(28, 48%, 38%);
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 18px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  white-space: nowrap;
}
.themes-btn:hover{
  background-color: hsla(28, 48%, 39%, 0.217);
}
/*Styles the class "intro"*/
.intro{
      background: #fbf5ea;
      text-align: center;
      padding: 50px 20px;
      margin-top: 15px;
      border-top: 2px solid #d4b483;
      border-bottom: 2px solid #d4b483;
}
.intro h1 {
      font-size: 48px;
      color: #b07a2a;
      margin-bottom: 20px;
}
.intro p{
      font-size: 20px;
      max-width: 900px;
      margin: 0 auto;
      line-height: 1.6;
      text-align: justify;
}
/*Styles the class "grid"*/
.grid{
      max-width: 1100px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
}
/*Styles the class "box"*/
.box {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 22px;
      padding: 20px;
      height: 360px;
      display: flex;
      flex-direction: column;
}   
.box:visited{ 
    text-decoration: none;
    color: black;
}
.box:active{
    text-decoration: none;
    color: black;
}
.box:hover{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}
.box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    color:hwb(27 0% 91%);
}
.box h3{
      color: #9a6b2f;
      margin-bottom: 12px;
}
/*Styles the class "scroll" */
.scroll-content{
      overflow-y: auto;
      padding-right: 10px;
}
.scroll-content ul{
      list-style: disc;
      padding-left: 20px;
}
.scroll-content li{
      margin-bottom: 8px;
}
/*Styles the class "right-column"*/
.right-column{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
}
/*Media query for screens 900px wide and below (tablets and mobile devices)*/
@media (max-width: 900px){
      .grid { grid-template-columns: 1fr; }
      .right-column { gap: 20px; }
      .box { height: auto; max-height: 360px; }
}
/*Styles the class "numbers-table"*/
.numbers-table {
    width: 50%;
    margin: 30px auto;
    border-collapse: separate; 
    border-spacing: 0;
    border: 1px solid #b07a2a;
    border-radius: 15px;
    overflow: hidden; 
    background-color: #fbf5ea;
}  
/*Formats the table */  
th, td {
    border: 1px solid #b07a2a;
    padding: 12px 15px;
    text-align: left;
    background-color: #fbf5ea;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
tr:hover {
    background-color: #fbf5ea;
    cursor: pointer;
    text-shadow: 0 0 8px #d4b483;
    box-shadow: 0 0 12px #d4b483;
    transition: 0.3s;
}
tr:active {
    background-color: #fbf5ea;
    color: rgba(0, 0, 0, 0.434);
    text-shadow: 0 0 8px #d4b483;
    box-shadow: 0 0 12px #d4b483;
    transition: 0.1s;
}

/*Styles the links in box IV*/
.iv-links a:hover {
color: #b85c1e;
text-decoration: underline;
}

/*Styles the Enchan images*/
.enchan-img {
width: 100%;
max-width: 100%;
height: auto;
margin: 12px auto 0;
border-radius: 14px;
display: block;
object-fit: contain;
}

/*Styles the footer*/
.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}
.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}

.quiz-btn {
  display: block;        
  width: fit-content;  
  min-width: 320px;
  max-width: 90%;
  margin: 40px auto;          
  box-sizing: border-box;           
  padding: 18px 20px;
  background: #fbf5ea;   
  color: #b07a2a;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 18px;
  border: 3px solid #b8892f; 
  text-align: center;      
  transition: 0.25s ease;
}

.quiz-btn:hover {
  background: #b07a2a;
  color: #fff3d6;   
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}
/* Etheria */
body.etheria{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Etheria.png');
  background-size: cover;
  font-family: "Cinzel", sans-serif;
  color:#000000;
}
body.etheria h1,
body.etheria h2,
body.etheria h3{
  color: #330a5af4;
}
body.etheria .navbar ul{
  background-color: #231729ca;
}
body.etheria .navbar a{
  background: #1b0e2bbc;
  color: #49179af4;
}
body.etheria .navbar a:hover{
  background-color: #e4d7fab6;
}
body.etheria .quiz-btn{
  background: #02010780;
  color: #470e72f4;
  border: 3px solid #3a0d67f4;
}
body.etheria .intro{
      background: #3c1a6056;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
}
/* Realm of Celestial Beings */
body.realm-of-celestial-beings{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/RealmOfCelestialBeings.png');
  background-size: cover;
  font-family: "Bitter";
}

/* Devas */
body.devas{
  height: 100%;
  font-family: "Palatino Linotype", serif;
  color: #a08a48;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Devas.png');
  background-size: cover;
}
body.devas h1,
body.devas h2,
body.devas h3{
  color: #8498d4f4;
}
body.devas .navbar ul{
  background-color: #d5b65b56;
}
body.devas .navbar a{
  background: #ffffffbc;
  color: #8498d4f4;
}
body.devas .navbar a:hover{
  background-color: #d7dffab6;
}
body.devas .quiz-btn{
  background: #ffffffbc;
  color: #d5b65b;
  border: 3px solid #d5b65b;
}
body.devas .intro{
      background: #ffffffbc;
      border-top: 2px solid #8498d4f4;
      border-bottom: 2px solid #8498d4f4;
}

/* Balaak */
body.balaak{
  height: 100%;
  font-family: "Instrument Serif", serif;
  color: #070101;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Balaak.png');
  background-size: cover;
}
body.balaak h1,
body.balaak h2,
body.balaak h3{
  color: #4b0a0af4;
}
body.balaak .navbar ul{
  background-color: rgba(49, 7, 7, 0.7);
}
body.balaak .navbar a{
  background: #070101bc;
  color: #720e0ef4;
}
body.balaak .navbar a:hover{
  background-color: #270707b6;
}
body.balaak .quiz-btn{
  background: #07010180;
  color: #720e0ef4;
  border: 3px solid #670d0df4;
}
body.balaak .intro{
      background: #601a1a56;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
}