body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('../assets/yiz.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:difference;
}

.navbar ul{
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}
.navbar a{
    color:hsl(28, 48%, 39%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li{
    float: left;
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
.container{
    padding: 50px 20px;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: none;
}
.card{
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 20px;
   width: 450px;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 16px;
}
