/* General format */
html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url('../assets/ewan.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:difference;
    background-position:center top;
    height: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}
/* Format for the navigation/navbar */
.navbar ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}
.navbar a{
    background: #e7d2a6;
    color:hsl(28, 48%, 38%);
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li{
    float: left;
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
/*Specificies the look for all h3 element*/
h3{
    text-align: center;
    margin-top: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 250%;
}
/* Styles the class "container" */
.container{
    padding: 50px 20px;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
/* Styles the class "section" */
.section{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    transition: background-color 0.5s ease;
    color: white;
    justify-content: center;
}
/*Sets the background and style for each separator*/
#first{
    background-image: url('../assets/digmaan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}
#second{
    background-image: url('../assets/gem.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}
#third{
    background-image: url('../assets/sisters.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}
#fourth{
    background-image: url('../assets/yizz.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}
#fifth{
    background-image: url('../assets/finale.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}
/* Creates the transition and format for the texts */
section h1, section p {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translateY(20px);
    opacity: 0;
    text-align: justify;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
}
.section.is-in-view h1, .section.is-in-view p {
    transform: translateY(0);
    opacity: 1;
}
/* Styles the footer */
.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}
.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}
