.navbar ul{
    display: flex;
    align-items: center;
    gap: 14px;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 10px 14px;
}
.navbar a{
    background: #e7d2a6;
    color:hsl(28, 48%, 38%);
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li{
    float: left;
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
.themes-btn{
  background: #e7d2a6;
  color: hsl(28, 48%, 38%);
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 18px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  white-space: nowrap;
}
.themes-btn:hover{
  background-color: hsla(28, 48%, 39%, 0.217);
}
body{
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('../assets/ewan.png');
  margin: 0px;
  padding: 0px;
}
.shop-box{
  max-width:700px;
  margin:auto;
  background:#efe3c7;
  padding:25px;
  border-radius:18px;
}
.theme-item{
  background:#f7edd6;
  padding:15px;
  border-radius:12px;
  margin:12px 0;
}
button{
  background:#b07a2a;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:10px;
  cursor:pointer;
}
/*Styles the footer*/
.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}
.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}
/* Etheria */
body.etheria{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Etheria.png');
  background-size: cover;
  font-family: "Cinzel", sans-serif;
  color:#000000;
}
body.etheria h1,
body.etheria h2,
body.etheria h3{
  color: #330a5af4;
}
body.etheria .navbar ul{
  background-color: #231729ca;
}
body.etheria .navbar a{
  background: #1b0e2bbc;
  color: #49179af4;
}
body.etheria .navbar a:hover{
  background-color: #e4d7fab6;
}
body.etheria .shop-box{
  background:#3c1a6056;
}
body.etheria .shop-box h1{
  color: #fffffff4;
}
body.etheria .shop-item h3,p{
  color: #fffffff4;
}

body.etheria .theme-item{
  background:#c3c2c3a4;
}
body.etheria button{
  background:#0a0110;
  color:#360a5f;
  border:none;
  padding:8px 14px;
  border-radius:10px;
  cursor:pointer;
}

/* Realm of Celestial Beings */
body.realm-of-celestial-beings{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/RealmOfCelestialBeings.png');
  background-size: cover;
  font-family: "Bitter";
}
body.realm-of-celestial-beings h1,
body.realm-of-celestial-beings h2,
body.realm-of-celestial-beings h3{
  color: #0c0755f4;
}
body.realm-of-celestial-beings .navbar ul{
  background-color: #3d4364ca;
}
body.realm-of-celestial-beings .navbar a{
  background: #e1e2e6bc;
  color: #0c0755f4;
}
body.realm-of-celestial-beings .navbar a:hover{
  background-color: #525bc0b6;
}
body.realm-of-celestial-beings .shop-box{
  background:#363d65ca;
}
body.realm-of-celestial-beings .theme-item{
  background:#c3c2c3a4;
}
body.realm-of-celestial-beings button{
  background:#e1e2e6bc;
  color:#0c0755f4;
  border:none;
  padding:8px 14px;
  border-radius:10px;
  cursor:pointer;
}

/* Devas */
body.devas{
  height: 100%;
  font-family: "Palatino Linotype", serif;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Devas.png');
  background-size: cover;
}
body.devas h1,
body.devas h2,
body.devas h3{
  color: #8498d4f4;
}
body.devas .navbar ul{
  background-color: #d5b65b56;
}
body.devas .navbar a{
  background: #ffffffbc;
  color: #8498d4f4;
}
body.devas .navbar a:hover{
  background-color: #d7dffab6;
}
/* Balaak */
body.balaak{
  height: 100%;
  font-family: "Instrument Serif", serif;
  color: #160f0f;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Balaak.png');
  background-size: cover;
  
}
body.balaak h1,
body.balaak h2,
body.balaak h3{
  color: #5f0a0a;
}
body.balaak .navbar ul{
  background-color: rgba(49, 7, 7, 0.7);
}
body.balaak .navbar a{
  background: #070101bc;
  color: #720e0ef4;
}
body.balaak .navbar a:hover{
  background-color: #270707b6;
}
body.balaak .shop-box{
  background:#200a0aae;
}
body.balaak .theme-item{
  background:#c3c2c2a4;
}
body.balaak button{
  background:#100101;
  color:#5f0a0a;
  border:none;
  padding:8px 14px;
  border-radius:10px;
  cursor:pointer;
}
body.balaak .shop-box h1{
  color: #fffffff4;
}
body.balaak .shop-item h3,p{
  color: #fffffff4;
}