/*Styles the general look of the webpage*/
html, body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('../assets/update.webp');
    background-size:cover;
    background-blend-mode:difference;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Styles the container that holds the main details*/
.container{
    background-color: rgba(237, 230, 230, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(206, 198, 198, 0.2);
    width: 700px;
    height : auto;
    backdrop-filter: blur(10px);
}

/*Styles all input and select aspects of the webpage*/
input, select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
/*Styles the buttons*/
button{
    width: 100%;
    padding: 10px;
    background-color: #dac7a4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #1e1e1e;
}
/*Styles the dashboard*/
#dashboard{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
/*Styles the custom box and modal*/
.custom-box{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.modal-content img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/*Defines the animations*/
@keyframes pop{
    from {transform: scale (0.5); opacity : 0;}
    to {transform: scale (1); opacity : 1;}
}
/*Designs the pop-ups*/
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.popup-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}