body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('/assets/background2.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:difference;
}

.navbar ul{
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}
.navbar a{
    color:hsl(28, 48%, 39%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}
.navbar li{
    float: left;
}
.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}
.intro{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 7%;
}
.text{
    flex: 1;
}
.intro iframe{
    display: block;
    margin-top: 7%;
}
.intro p{
    font-size: 20px;
    color: hsl(28, 48%, 39%);
    margin-top: 7%;
}
.container{
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   margin: 5px;
}
.card{
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 20px;
   width: 450px;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 10%;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    display:block;
    margin: 0 auto;
}
.card h3{
    color: hsl(28, 48%, 39%);
    text-align: center;
}
.card p{
    font-size: 16px;
    color: #333;
    text-align: justify;
}
