body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('../assets/ewan.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:difference;
}

.navbar ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}

.navbar a{
    background: #e7d2a6;
    color:hsl(28, 48%, 38%);
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}

.navbar li{
    float: left;
}

.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}

.intro{
    background: #fbf5ea;
    text-align: center;
    padding: 50px 20px;
    margin-top: 15px;
    border-top: 2px solid #d4b483;
    border-bottom: 2px solid #d4b483;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
    position: relative;
}

.text{
    flex: 1;
}

.intro iframe{
    display: block;
    margin-top: 3%;
    position: relative
}

.intro p{
    font-size: 20px;
    color: hsl(0, 0%, 0%);
    margin-top: 3%;
}

.container{
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   margin: 5px;
    justify-content: center;
}

.card{
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 20px;
   width: 450px;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 16px;
}
figure{
    position: relative;
    justify-content: center;
    overflow: hidden;
}
.card figure img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    color: hsl(28, 48%, 39%);
    padding: 10px;
    text-align: center;
    opacity: 0; 
    transform: translateY(100%); 
    transition: all 0.3s ease; 
}
figure:hover figcaption{
    opacity: 1;
    transform: translateY(0);
}
figcaption a{
    text-decoration: none;
    color: hsl(28, 48%, 39%);

}

.card h3{
    color: hsl(28, 48%, 39%);
    text-align: center;
}
.card p{
    font-size: 16px;
    color: #333;
    text-align: justify;
}

.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}

.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}