/*General look of the webpage*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('../assets/ewan.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:difference;
}
/*Styles the navigation*/ 
.navbar ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100px;
}

.navbar a{
    background: #e7d2a6;
    color:hsl(28, 48%, 38%);
    border-radius: 20px;
    text-decoration: none;
    padding: 8px 18px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.navbar a:hover{
    background-color:hsla(28, 48%, 39%, 0.217);
}

.navbar li{
    float: left;
}

.navbar li img{
    margin-top: 10px;
    margin-left: 10px;
}

.themes-btn{
  background: #e7d2a6;
  color: hsl(28, 48%, 38%);
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 18px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  white-space: nowrap;
}

.themes-btn:hover{
  background-color: hsla(28, 48%, 39%, 0.217);
}

/*Styles the class "intro"*/
.intro{
    background: #fbf5ea;
    text-align: center;
    padding: 50px 20px;
    margin-top: 15px;
    border-top: 2px solid #d4b483;
    border-bottom: 2px solid #d4b483;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
    position: relative;
}
/*Style of the text*/
.text{
    flex: 1;
}
/* More style and format for the class "intro" */
.intro iframe{
    display: block;
    margin-top: 3%;
    position: relative
}

.intro p{
    font-size: 20px;
    color: hsl(0, 0%, 0%);
    margin-top: 3%;
}
/*Styles the class "container"*/
.container{
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   margin: 5px;
    justify-content: center;
}
/*Specific look for the cards inside the class "card" */
.card{
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 20px;
   width: 450px;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 16px;
}
/*Format styling for the caption*/
figure{
    position: relative;
    justify-content: center;
    overflow: hidden; /*Hides the link until hovered over*/
}
.card figure img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    color: hsl(28, 48%, 39%);
    padding: 10px;
    text-align: center;
    opacity: 0; 
    transform: translateY(100%); 
    transition: all 0.3s ease; 
}
figure:hover figcaption{
    opacity: 1;
    transform: translateY(0);
}
/*Styles the link of the caption*/
figcaption a{
    text-decoration: none;
    color: hsl(28, 48%, 39%);

}
/*More specific styles for the cards*/
.card h3{
    color: hsl(28, 48%, 39%);
    text-align: center;
}
.card p{
    font-size: 16px;
    color: #333;
    text-align: justify;
}
/*Format styling for the footer*/
.footer{
    text-align: left;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: hsl(28, 48%, 39%);
}

.footer li{
    text-decoration: none;
    color: hsl(28, 48%, 39%);
}
/* Etheria */
/* Etheria */
body.etheria{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Etheria.png');
  background-size: cover;
  font-family: "Cinzel", sans-serif;
  color:#000000;
}
body.etheria h1,
body.etheria h2,
body.etheria h3{
  color: #330a5af4;
}
body.etheria .navbar ul{
  background-color: #231729ca;
}
body.etheria .navbar a{
  background: #1b0e2bbc;
  color: #49179af4;
}
body.etheria .navbar a:hover{
  background-color: #e4d7fab6;
}
body.etheria .intro{
      background: #3c1a6056;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
}

/* Realm of Celestial Beings */
body.realm-of-celestial-beings{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/RealmOfCelestialBeings.png');
  background-size: cover;
  font-family: "Bitter";
}
body.realm-of-celestial-beings h1,
body.realm-of-celestial-beings h2,
body.realm-of-celestial-beings h3{
  color: #0c0755f4;
}
body.realm-of-celestial-beings .navbar ul{
  background-color: #3d4364ca;
}
body.realm-of-celestial-beings .navbar a{
  background: #e1e2e6bc;
  color: #0c0755f4;
}
body.realm-of-celestial-beings .navbar a:hover{
  background-color: #525bc0b6;
}
body.realm-of-celestial-beings .quiz-btn{
  background: #ffffffbc;
  color: #0c0755f4;
  border: 3px solid #0c0755f4;
}
body.realm-of-celestial-beings .intro{
      background: #ffffffbc;
      border-top: 2px solid #0c0755f4;
      border-bottom: 2px solid #0c0755f4;
}

/* Devas */
body.devas{
  height: 100%;
  font-family: "Palatino Linotype", serif;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Devas.png');
  background-size: cover;
}
body.devas h1,
body.devas h2,
body.devas h3{
  color: #8498d4f4;
}
body.devas .navbar ul{
  background-color: #d5b65b56;
}
body.devas .navbar a{
  background: #ffffffbc;
  color: #8498d4f4;
}
body.devas .navbar a:hover{
  background-color: #d7dffab6;
}
body.devas .intro{
      background: #ffffffbc;
      border-top: 2px solid #8498d4f4;
      border-bottom: 2px solid #8498d4f4;
}
/* Balaak */
body.balaak{
  height: 100%;
  font-family: "Instrument Serif", serif;
  color: #070101;
  margin: 0px;
  padding: 0px;
  background-image: url('../assets/Balaak.png');
  background-size: cover;
}
body.balaak h1,
body.balaak h2,
body.balaak h3{
  color: #4b0a0af4;
}
body.balaak .navbar ul{
  background-color: rgba(49, 7, 7, 0.7);
}
body.balaak .navbar a{
  background: #070101bc;
  color: #720e0ef4;
}
body.balaak .navbar a:hover{
  background-color: #270707b6;
}
body.balaak .intro{
      background: #601a1a56;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
}